@font-face {
	font-family: Unbounded;
	src: url(../fonts/Unbounded/static/Unbounded-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: Unbounded;
	src: url(../fonts/Unbounded/static/Unbounded-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: Unbounded;
	src: url(../fonts/Unbounded/static/Unbounded-Bold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: Manrope;
	src: url(../fonts/Manrope/static/Manrope-ExtraBold.ttf);
	font-weight: 800;
}
@font-face {
	font-family: Manrope;
	src: url(../fonts/Manrope/static/Manrope-Bold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: Manrope;
	src: url(../fonts/Manrope/static/Manrope-Light.ttf);
	font-weight: 300;
}

