@import 'vars';
@import 'fonts';
@import 'reset';
@import 'lids';
@import 'global';


.header {
  position: absolute;
  z-index: 4;
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0px 60px;
    cursor: pointer;

  }

  &__text {
    max-width: calc(var(--sizeindex) * 40);

    & p {
      font-size: calc(var(--sizeindex) * 0.4);
      font-weight: 800;
      line-height: 24px;
      letter-spacing: 5px;
      text-transform: uppercase;
    }

    & span {
      color: rgb(254, 154, 80);
    }
  }

  &__button {
    perspective: 1000px;

    p {
      padding: 14px 20px;
      background: linear-gradient(145.10deg, rgb(254, 154, 80) 16.044%, rgb(254, 106, 54) 78.362%);
      border-radius: 50px;
      font-size: 14px;
      background-size: 100%;
      transition: all 0.2s ease-in-out;
      transform-style: preserve-3d;
      cursor: pointer;

      &:hover {
        background-size: 200%;
        transform: translateZ(50px) rotateY(-30deg);
        box-shadow: 5px 2px 10px black;
      }
    }
  }
}

.video {

  &__intro {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(138.30deg, rgb(25, 28, 35) 9.786%, rgb(16, 18, 22) 48.748%);
    padding: 27px;
    opacity: 0.98;
  }


  &__intro-link {
    position: relative;
    max-width: 100%;
    padding-bottom: 56.25%;
    z-index: 1;
    overflow: hidden;
    background: linear-gradient(134.38deg, rgb(96, 101, 122) 1.994%, rgb(87, 91, 110) 11.954%, rgb(10, 10, 15) 94.605%);
    border-radius: 50px;
  }

  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  &__media {
    position: absolute;
    width: 100%;
    filter: contrast(2) saturate(4);
    opacity: 0.3;
    will-change: auto;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    transform: translateY(calc(var(--sizeindex) * 1.55));

    &-title {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      &-go {
        perspective: 1000px;
      }

      & h1 {
        color: rgb(255, 255, 255);
        font-family: 'Unbounded';
        font-size: calc(var(--sizeindex) * 7.1);
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        opacity: 0.2;
        line-height: 1.1;
        transform-origin: bottom;
      }

    }

    &-subtitle {
      position: absolute;
      width: 100%;

      & p {
        font-family: 'Manrope';
        font-size: calc(var(--sizeindex) * 1);
        font-weight: 700;
        letter-spacing: calc(var(--sizeindex) * 0.35);
        text-align: center;
        text-transform: uppercase;
      }
    }

    & span {
      background: linear-gradient(145.10deg, rgb(254, 154, 80), rgb(254, 106, 54));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

    }

    &-data {
      & p {
        color: rgb(255, 255, 255);
        font-family: 'Unbounded';
        font-size: calc(var(--sizeindex) * 0.95);
        font-weight: 400;
        text-align: center;
        margin-bottom: calc(var(--sizeindex) * 0.7);
      }

      & h4 {
        background: linear-gradient(145.10deg, rgb(254, 154, 80), rgb(254, 106, 54));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-family: 'Manrope';
        font-weight: 800;
        letter-spacing: calc(var(--sizeindex) * 0.3);
        text-align: center;
        text-transform: uppercase;
        font-size: calc(var(--sizeindex) * 0.7);
      }
    }
  }
}

.mussage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(138.30deg, rgb(25, 28, 35) 9.786%, rgb(16, 18, 22) 48.748%);
  transform: rotate(180deg) scaleX(-1) translateX(calc(var(--sizeindex)* 0));
  scroll-snap-align: start;
  opacity: 0.98;

  &__wrapper {
    transform: rotate(180deg) scaleX(-1) translateX(calc(var(--sizeindex)* 0));
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  &__background {
    transform: scale(2.5);
    opacity: 0.2;
    position: absolute;
    width: 100%;
    margin-top: 0px;
    top: 30%;

    &-wrapper {
      display: flex;
      justify-content: center;
      max-width: 100%;
    }

  }

  &__title-content {
    position: relative;
    margin-top: 189px;
    margin-bottom: 100px;

    &-title {
      opacity: 1;

      & h2 {
        font-family: 'Unbounded';
        font-size: calc(var(--sizeindex) * 2.8);
        font-weight: 500;
        line-height: calc(var(--sizeindex) * 3.5);
        text-align: center;
        text-transform: uppercase;
      }

      & p {
        font-family: 'Unbounded';
        font-size: calc(var(--sizeindex) * 2.8);
        font-weight: 500;
        line-height: calc(var(--sizeindex) * 3.5);
        text-align: center;
        text-transform: uppercase;
        background: linear-gradient(145.10deg, rgb(254, 154, 80), rgb(254, 106, 54));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }

    &-subtitle p {
      font-size: calc(var(--sizeindex) * 0.9);
      font-weight: 800;
      line-height: calc(var(--sizeindex) * 1.4);
      letter-spacing: calc(var(--sizeindex) * 0.26);
      text-align: center;
      max-width: calc(var(--sizeindex) * 31);
      text-transform: uppercase;

      & span {
        background: linear-gradient(145.10deg, rgb(254, 154, 80), rgb(254, 106, 54));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }

    &-svg-left {
      position: absolute;
      left: -250px;
      top: -150px;
    }

    &-svg-right {
      position: absolute;
      right: -250px;
      bottom: -200px;
    }

  }

  &__info {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;

    &-item-wrapper {}

    &-item {
      display: flex;
      align-items: flex-end;
      gap: 20px;
      position: relative;

      &-content {
        background-color: white;
        border-radius: 20px;
        color: black;
        position: relative;
        padding: 20px;
        max-width: 890px;
        width: 100%;
      }

      &-name {
        margin-bottom: 20px;
        background: linear-gradient(145.10deg, rgb(254, 154, 80), rgb(254, 106, 54));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;

      }

      &-text {
        font-size: 24px;
        font-weight: 300;
        line-height: 34px;

        & span {
          font-weight: 800;
        }
      }

      &-avatar {
        left: -100px;
        bottom: 0;
      }

      &-time {
        position: absolute;
        right: 11px;
        bottom: 10px;

        & p {
          background: linear-gradient(145.10deg, rgb(254, 154, 80), rgb(254, 106, 54));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          font-size: 11px;
          font-weight: 500;
          line-height: 15px;
        }
      }

      &-sheshtag {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 10px;
        cursor: pointer;

        &-item {
          width: max-content;
          font-size: 16px;
          font-weight: 700;
          padding: 10px 20px;
          border-radius: 50px;
          transition: all 0.2s ease-in-out;
          background: linear-gradient(145.10deg, rgba(254, 154, 80, 0.3) 16.512%, rgba(254, 106, 54, 0.3) 77.435%);

          &:hover {
            background-size: 200%;
          }
        }

      }

      &-register-text {
        background: linear-gradient(145.10deg, rgb(254, 154, 80), rgb(254, 106, 54));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-family: Unbounded;
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
      }

      &-register-button {
        perspective: 1000px;

        & p {
          border-radius: 50px;
          background: linear-gradient(145.10deg, rgb(254, 154, 80) 16.305%, rgb(254, 106, 54) 77.846%);
          color: white;
          width: max-content;
          padding: 14px 30px;
          font-size: 18px;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: -1px;
          background-size: 100%;
          transition: all 0.2s ease-in-out;
          transform-style: preserve-3d;
          font-family: 'Unbounded';
          margin-top: 20px;
        }

        &:hover p {
          background-size: 200%;
          transform: translateZ(50px) rotateX(-10deg);
          box-shadow: 0px 5px 10px black;
        }
      }

      &:nth-child(2) {
        border-radius: 36px;
        max-width: 390px;
        margin-left: auto;
        width: 100%;
        padding-right: 50px;
        padding: 20px;
        background: linear-gradient(145.10deg, rgb(254, 154, 80) 16.751%, rgb(254, 106, 54) 76.963%);

        & p {
          color: white;
          font-size: 24px;
          font-weight: 400;
          line-height: 32px;
        }

        & .mussage__info-item-answer {
          &-time {
            position: absolute;
            display: flex;
            align-items: center;
            gap: 3px;
            bottom: 9px;
            right: 13px;
          }

          &-time {
            &-num {
              font-size: 11px;
              font-weight: 500;
              color: white;

            }

            & svg {
              width: 18px;
              height: 15px;
            }
          }

          &-detal {
            position: absolute;
            right: 0;
            bottom: 0;
          }

        }
      }

      &:nth-child(3) {
        & img {
          opacity: 0;
        }

        & span {
          font-family: 'Unbounded';
          font-weight: 700;
        }
      }

      &:last-child {
        margin-top: 34px;
      }
    }

  }

}

.footer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(138.30deg, rgb(25, 28, 35) 9.811%, rgb(16, 18, 22) 48.733%);
  scroll-snap-align: start;

  &__title h1 {
    font-size: calc(var(--sizeindex) * 7);
    font-weight: 800;
    color: white;
    z-index: 5;

  }

}



@media(min-width:1950px) {
  .video {
    &__intro-link {
      padding-bottom: 51.25%;
    }
  }
}

@media(min-width:900px) {
  .video {
    &__intro-link {
      padding-bottom: 51.25%;
    }


  }
}

@media(max-width:900px) {
  .video {
    &__intro {
      padding: 20px;

      &-link {
        height: 100%;
        border-radius: 30px;
      }
    }

    &__media {
      height: 100%;
      width: auto;
    }

    &__content {
      &-data {
        &-title p {
          font-size: calc(var(--sizeindex) * 1.7);
        }

        &-text h4 {
          font-size: calc(var(--sizeindex) * 1.3);
        }
      }
    }

  }

  .header {
    position: absolute;
    z-index: 4;
    width: 100%;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 50px;
      padding: 0px 30px;
      cursor: pointer;
    }

    &__text p {
      font-size: calc(var(--sizeindex) * 1.3);
      font-weight: 600;
      font-size: calc(var(--sizeindex) * 1.3);
      font-size: calc(var(--sizeindex) * 1.3);
      text-transform: uppercase;

      & span {
        color: rgb(254, 154, 80);
      }
    }

    &__button {
      perspective: 1000px;

      p {
        padding: 14px 20px;
        background: linear-gradient(145.10deg, rgb(254, 154, 80) 16.044%, rgb(254, 106, 54) 78.362%);
        border-radius: 50px;
        font-size: 14px;
        font-weight: 700;
        background-size: 100%;
        transition: all 0.2s ease-in-out;
        transform-style: preserve-3d;
        cursor: pointer;

        &:hover {
          background-size: 200%;
          transform: translateZ(50px) rotateY(-30deg);
          box-shadow: 5px 2px 10px black;
        }
      }
    }
  }

  .mussage {
    &__background {
      top: 15%;
    }

    &__title {
      &-content {
        margin-top: 100px;

        &-title {
          & h2 {
            font-size: calc(var(--sizeindex) * 4);
          }

          & p {
            font-size: calc(var(--sizeindex) * 4);
          }

        }

        &-subtitle {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          width: 100%;

          & p {
            font-size: calc(var(--sizeindex) * 1.2);
            line-height: calc(var(--sizeindex) * 2);
            letter-spacing: calc(var(--sizeindex) * 0.5);
            max-width: calc(var(--sizeindex) * 50);
          }
        }

        &-svg-left {
          left: -25%;
        }

        &-svg-right {
          right: -25%;
        }
      }
    }
  }
}

@media(max-width:500px) {
  .video {
    &__intro {
      &-link {
        border-radius: 10px;
      }
    }

    &__content {
      &-subtitle {
        position: static;
        margin-top: 5px;
        margin-bottom: 20px;

        & p {
          font-size: calc(var(--sizeindex) * 1.5);
          letter-spacing: calc(var(--sizeindex) * 0.8);
        }

      }

      &-data {
        &-title {
          & p {
            font-size: calc(var(--sizeindex) * 3);
          }
        }

        &-text {
          & h4 {
            font-size: calc(var(--sizeindex) * 1.9);
          }
        }
      }
    }

  }


  .header {
    position: absolute;
    z-index: 4;
    width: 100%;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      padding: 0px 20px;
      cursor: pointer;
    }

    &__text p {
      font-size: calc(var(--sizeindex) * 1.8);
      font-weight: 600;
      line-height: calc(var(--sizeindex) * 3);
      letter-spacing: calc(var(--sizeindex) * 0.5);
      text-transform: uppercase;

      & span {
        color: rgb(254, 154, 80);
      }
    }

    &__button {
      perspective: 1000px;
      position: absolute;
      left: 0;
      right: 0;
      top: 65vh;
      width: max-content;
      text-align: center;
      margin: 0 auto;

      p {

        padding: 14px 20px;
        background: linear-gradient(145.10deg, rgb(254, 154, 80) 16.044%, rgb(254, 106, 54) 78.362%);
        border-radius: 50px;
        font-size: 14px;
        font-weight: 700;
        background-size: 100%;
        transition: all 0.2s ease-in-out;
        transform-style: preserve-3d;
        cursor: pointer;

        &:hover {
          background-size: 200%;
          transform: translateZ(50px) rotateY(-30deg);
          box-shadow: 5px 2px 10px black;
        }
      }
    }
  }

  .mussage {
    &__title {
      &-content {
        &-svg-left {
          left: -60%;
        }

        &-svg-right {
          right: -50%;
        }
      }
    }

    &__info {
      &-item {
        &-name {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 5px;
        }

        &-text {
          font-size: 14px;
          line-height: 20px;
        }

        &:nth-child(2) {
          border-radius: 36px;
          width: max-content;
          margin-left: auto;
          padding-right: 50px;
          padding: 6px 12px;
          background: linear-gradient(145.10deg, rgb(254, 154, 80) 16.751%, rgb(254, 106, 54) 76.963%);

          & p {
            color: white;
            font-size: 14px;
            font-weight: 400;
            line-height: 32px;
            padding-right: 60px;
          }
        }

        &-avatar {
          max-width: 40px;
        }

        &-sheshtag-item {
          padding: 10px 20px;
          font-size: 12px;
          line-height: 20px;
        }

        &-register-text {
          font-size: 16px;
          line-height: 22px;
        }

        &:last-child {
          margin-top: 0;
        }
      }


    }
  }
}