:root {
  --bacground: white;
  --color: rgb(21, 21, 21);
	--colorSecondary: rgb(46, 88, 219);
  --colorActive: rgb(0 101 252);
  --colorNotActive: rgb(156, 165, 179);
  --bacgroundElem: rgb(228, 236, 248);
	--sizeindex: calc(1vw + 1vh);
	--transition: all .2s ease-in-out;
  
}