    @font-face {
      font-family: "HeliosC";
      src: url("./fonts/HeliosC.woff") format("woff");
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }

    :root {
      --bg-main: #050716;
      --card-bg: rgba(158, 152, 252, 0.2);
      --card-border: #343652;
      --text-main: #ffffff;
      --accent: #7b7fff;
      --radius-xl: 18px;
    }

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    a {
      text-decoration: none;
      color: inherit;
      background: none;
      border: none;
      outline: none;
    }

    body {
      min-height: 100vh;
      margin: 0;
      font-family: "HeliosC", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
      background: rgba(2, 4, 21, 1);
      color: var(--text-main);
    }
    .container{
      max-width: 1830px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;
    }

    .section {
      margin: 0 auto;
      padding: 77px 0px 96px;
    }

    .section__heading {
      text-align: center;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      gap: 69px;
    }

    .section__title {
      font-size: 57px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0;
      position: relative;
      margin: 0 auto;
    }

    .section__subtitle {
      font-size: 38px;
      font-weight: 400;
      line-height: 46px;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      margin-top: 32px;
      grid-auto-flow: row;
    }

    .card {
      position: relative;
      background-color: var(--card-bg);
      border-radius: var(--radius-xl);
      border: 1px solid rgba(255, 255, 255, 0.2);
      padding: 26px;
      color: var(--text-main);
      display: flex;
      flex-direction: column;
    }
    .card:hover .card__icon-elem{
      transform: translate(5%, -5%);
    }

    .card::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      border: 1px solid rgba(255, 255, 255, 0.03);
      pointer-events: none;
    }
    .card__icon{
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;
      width: 100%;
    }
    .card__icon-elem{
      background-color: rgba(217, 217, 217, 0.2);
      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;
      flex-shrink: 0;
    }

    .card__icon-arrow {
      width: 10px;
      height: 10px;
      border-radius: 2px;
      border-top: 1.5px solid rgba(255, 255, 255, 0.9);
      border-right: 1.5px solid rgba(255, 255, 255, 0.9);
      transform: rotate(45deg) translate(-1px, 1px);
    }

    .card__text {
      font-size: 24px;
      font-weight: 400;
      line-height: 120%;
      max-width: 86%;
    }

    @media (min-width: 768px) {
      .section {
        padding-top: 130px;
        padding-bottom: 120px;
      }

      .section__heading {
        margin-bottom: 38px;
      }

      .cards {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 0px;
        row-gap: 10px;
        align-items: start;
      }

      .card {
        min-height: 308px;
        height: 100%;
      }

      .card:nth-child(3n+1) {
        grid-column: 2;
      }

      .card:nth-child(3n+2) {
        grid-column: 1;
      }

      .card:nth-child(3n) {
        grid-column: 3;
      }
    }

    @media (max-width: 1024px) {
      .section {
        padding-top: 77px;
        padding-bottom: 72px;
      }
      .section__heading{
        gap: 36px;
        margin-bottom: 30px;
      }
      .section__title {
        font-size: 28px;
      }
  
      .section__subtitle {
        font-size: 16px;
        line-height: 19px;
      }
      .cards{
        column-gap: 13px;
      }
      .card {
        border-radius: 6.4px;
        min-height: 174px;
        padding: 8px;
      }

      .card__text {
        font-size: 14px;
      }
      .card__icon-elem{
        width: 20px;
        height: 20px;
      }
      .card__icon-elem svg{
        width: 10px;
        height: 10px;
      }
    }
    @media (max-width: 767px) {
      .container{
        padding: 0 10px;
      }
      .section {
        padding-top: 45px;
        padding-bottom: 40px;
      }
      .section__heading{
        gap: 36px;
        margin-bottom: 30px;
      }
      .section__title {
        font-size: 28px;
        text-wrap: balance;
        display: flex;
        flex-wrap: wrap;
      }
  
      .section__subtitle {
        font-size: 16px;
        line-height: 19px;
      }

      .section__heading {
        margin-bottom: 28px;
        gap: 28px;
      }

      .cards {
        grid-template-columns: 1fr;
        gap: 10px;
      }
      .card {
        min-height: 140px;
      }
    }